<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VEDaspector</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'entities' %>"><a href="/election_reports">Election Reports</span></a></li>
      </ul>
    </div>
  </div>
</nav>