<div class="form-group boolean">
    <label for="<%= prop.property_identifier %>">
        <span><%= prop.name %></span>:

        <input name="entity[<%= prop.property_identifier %>]" type="hidden" value="0">
        <input name="entity[<%= prop.property_identifier %>]" type="checkbox" <% if prop.value %>checked="checked"<%end%>>
    </label>
</div>