<div class="form-group datetime">
    <label for="<%= prop.property_identifier %>"><%= prop.name %></label>
    <input type="text" name="entity[<%= prop.property_identifier %>]" class="form-control" value="<%= prop.value %>" />
</div>
