<div class="input-group string-collection-row">
    <textarea name="entity[<%= prop.property_identifier %>][]" class="form-control" rows="3"><%= text %></textarea>
    <div>
        <span class="pull-right btn btn-default btn-sm glyphicon glyphicon-remove string-collection-row-delete"></span>
    </div>
</div>