<div class="form-group text">
    <label for="<%= prop.property_identifier %>"><%= prop.name %></label>
    <textarea name="entity[<%= prop.property_identifier %>]" class="form-control" rows="1"><%= prop.value %></textarea>
</div>
